@charset "UTF-8";
html,
body {
  height: 100%;
}

.wraper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  flex-grow: 1;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1132px;
}

.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  background-color: #ffffff;
  height: 100px;
  margin: 0;
  border: 1px solid #ececec;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
}

.header__cart {
  width: 32px;
  height: 29px;
  margin-top: 9px;
  margin-right: 30px;
  position: relative;
  background: url(img/cart.svg);
  border: none;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 13px;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.68px;
}

.header__form {
  display: flex;
  align-items: center;
  margin-left: 37px;
}

.browse {
  width: 87px;
  height: 38px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  border-right: none;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  text-align: center;
  line-height: 40px;
  padding-left: 10px;
  position: relative;
}
.browse:hover .browse__drop {
  display: flex;
}

.button {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  background-color: #f16d7f;
  letter-spacing: 0.38px;
  line-height: 38px;
  padding-left: 19px;
  padding-right: 19px;
  line-height: 38px;
}
.button_upper {
  text-transform: uppercase;
}
.button__checkout {
  padding: 0 50px;
  line-height: 50px;
  font-size: 15px;
  margin-top: 17px;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
  background-color: #fff;
}
.menu__link {
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  display: block;
}
.menu__link:hover {
  color: #f16d7f;
}

.promo {
  height: 613px;
  background-color: #e8e8e8;
}

.promo-content {
  background-image: url(img/brand_back.jpg);
  height: 100%;
  background-position: 0 -51px;
}

.promo__big {
  color: #222222;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
  margin-bottom: 15px;
}

.promo__mini {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 31px;
}

.pink {
  color: #f16d7f;
}

.promo__content {
  margin-top: 223px;
  float: left;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}

.hotdeal__container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 823px;
  align-items: center;
  padding-top: 90px;
}

.hotdeal_A {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.formen {
  height: 542px;
  width: 560px;
  background-image: url(img/formen.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

.kids {
  height: 542px;
  width: 560px;
  background-image: url(img/forkids.jpg);
  background-position: center;
  background-size: cover;
}

.accs {
  width: 560px;
  height: 261px;
  background-color: #dadad2;
  background-image: url(img/acces.png);
  background-position: 173px;
  background-repeat: no-repeat;
  background-size: inherit;
}

.women {
  height: 261px;
  width: 560px;
  background-image: url(img/forwomen.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

.hotdeal_B {
  display: flex;
  flex-direction: column;
}

.hotdeal {
  background-color: #ffffff;
  margin-top: 26px;
  padding-right: 20px;
  float: left;
}

.blacksmall {
  color: #222222;
  font-family: "Lato - Black";
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  padding-top: 16px;
  padding-left: 20px;
}

.pinkbig {
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px;
  margin-bottom: 16px;
  padding-left: 20px;
  text-transform: uppercase;
}

.featured {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
  padding-bottom: 16px;
}

.container__featured {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 60px;
}

.simple_text {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.photo_feat {
  height: 280px;
}

.featured_content {
  position: relative;
  margin-bottom: 39px;
}
.featured_content:hover .mayLike__rating {
  visibility: visible;
}

.featured_content:hover .product_add {
  visibility: visible;
}

.featured_content:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  transform: scale(1.1, 1.1);
}

.featured_content:hover .product_image {
  filter: brightness(40%);
}

.short_desc {
  height: 100px;
  padding-left: 14px;
}

.price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.brouseall_container {
  display: flex;
  justify-content: center;
  padding-top: 41px;
}

.brows {
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  width: 87px;
  height: 38px;
}

.form__input {
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background-color: #ffffff;
  height: 40px;
  width: 317px;
  padding-left: 15px;
  padding-right: 53px;
  box-sizing: border-box;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
}

.form_button {
  border-radius: 0 3px 3px 0;
  border-left: 1px solid #e6e6e6;
  background-color: #ffffff;
  height: 40px;
  width: 38px;
  position: relative;
  right: 38px;
  color: #a4a4a4;
  padding: 11px;
}

.btnWhiteEffects:hover {
  box-shadow: 1px 1px 5px #f16d7f;
}
.btnWhiteEffects:active {
  box-shadow: inset 1px 1px 3px #f16d7f;
}

.btnPinkEffects:hover {
  box-shadow: 1px 1px 5px #656565;
}
.btnPinkEffects:active {
  box-shadow: inset 1px 1px 3px #656565;
}

.btnPressEffect:active {
  animation: jello-horizontal 0.9s both;
}

.btnMine {
  box-shadow: 1px 1px 2px #f16d7f;
}

@-webkit-keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 1.25, 1.25);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.product_text {
  padding: 20px 14px;
}

.product_link {
  display: block;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.product_add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 123px;
  height: 39px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: 70px;
  top: 98px;
  visibility: hidden;
}
.product_add__reboot {
  width: 57px;
  height: 38px;
  top: 144px;
}
.product_add__like {
  left: 136px;
}

.product_add:hover {
  box-shadow: 0 0 5px #fff;
}

.featured_elems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.discount_offer {
  width: 767px;
  height: 529px;
  background-image: url(img/30peroffer.jpg);
}

.hotoffers {
  width: 373px;
  height: 529px;
  background-color: #222224;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotoffers:nth-child(3) {
  padding-bottom: 66px;
}

.specialoff {
  height: 588px;
}

.drop {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 12px 20px 20px;
  border: 1px solid #ececec;
  position: absolute;
  z-index: 1;
}
.drop_flex-column {
  flex-direction: column;
}
.drop_flex-wrap {
  flex-wrap: wrap;
}

.browse__drop {
  display: none;
  top: 38px;
  left: -3px;
  text-align: left;
}

.menu__drop::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: -7px;
  left: 42px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.drop_menu {
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  font-size: 14px;
  line-height: 28px;
}

.drop_link {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.drop_link:hover {
  color: #f16d7f;
}

.drop__heading {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 15px;
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
}

.drop__flex {
  width: 235px;
  margin-right: 46px;
  text-align: left;
}

.drop__flex:last-of-type {
  margin-right: 0;
}

.menu__list {
  position: relative;
}

.menu__list:hover .menu__drop {
  display: flex;
}

.menu__list:hover .menu__drop_last {
  display: flex;
}

.menu__drop_last {
  left: auto;
  right: -419px;
  display: none;
}

.menu__drop_last::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  top: -5px;
  left: 350px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.discount_offer1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.discount_offer2 {
  color: #ffffff;
  letter-spacing: 1.5px;
  font-size: 32px;
}

.banner {
  display: flex;
  padding-top: 113px;
}

.offer_text {
  padding-top: 146px;
  padding-left: 40px;
}

.offer {
  display: flex;
}

.offer_promo {
  color: #fbfbfb;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.35px;
  width: 219px;
  height: 58px;
  line-height: 22px;
  padding-top: 21px;
  display: block;
}

.text_subs {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-left: 28px;
  padding-top: 123px;
}

.ofer_image {
  padding-top: 48px;
  padding-left: 36px;
  padding-right: 36px;
}

.last_offer {
  padding-bottom: 66px;
}

.subscibe {
  display: flex;
  background-image: url(img/subscibe.jpg);
  height: 438px;
  margin-top: 97px;
  width: 100%;
  background-size: 100%;
}

.subscribe_left {
  width: 50%;
  display: flex;
  border-right: 1px solid #ffffff;
}

.name {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  padding-top: 19px;
}

.place {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.pic {
  padding-left: 160px;
  padding-top: 109px;
  height: 83px;
  width: 83px;
  height: 82px;
  padding-left: 147px;
  padding-top: 120px;
}

.subscribe_left {
  width: 50%;
  display: flex;
}

.comment_subsc {
  color: #222224;
  font-size: 14px;
  font-style: italic;
  line-height: 28px;
  display: block;
  width: 386px;
}

.text {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-top: 55px;
}

.form_sub {
  display: flex;
  padding-left: 103px;
  padding-top: 35px;
}

.sub_big {
  font-size: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding-bottom: 9px;
}

.sup_text {
  letter-spacing: 0.35px;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
}

.sub_head {
  padding-top: 148px;
  text-align: center;
}

.email_input {
  border-radius: 23px;
  background-color: #e1e1e1;
  height: 46px;
  width: 393px;
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding-left: 28px;
}

.button_sub {
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  height: 46px;
  width: 104px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  right: 103px;
  top: -1px;
  text-align: center;
  line-height: 45px;
}

.options {
  display: flex;
  padding-top: 41px;
}

.option1 {
  height: 4px;
  width: 38px;
  background-color: #d6d6d6;
}

.option {
  height: 4px;
  width: 38px;
  background-color: #d6d6d6;
  margin-right: 12px;
}

.option:hover {
  background-color: #f16d7f;
}

.text_object {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  width: 427px;
  line-height: 28px;
  padding-top: 22px;
}

.logo_footer {
  padding-top: 109px;
}

.brand_img {
  display: block;
  padding-right: 13px;
}

.footer_small {
  height: 79px;
  background-color: #e6e6e6;
  display: flex;
}

.object1 {
  padding-bottom: 24px;
}

.nav_head {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 123px;
  padding-bottom: 24px;
}

.nav_li {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 50px;
}
.nav_li:hover {
  color: #f16d7f;
}

.nav_footer {
  display: flex;
  justify-content: space-around;
}

.first_cat {
  padding-left: 64px;
}

.footer_right {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  padding-top: 33px;
}

.social_links {
  display: flex;
  justify-content: space-between;
  background-color: #e6e6e6;
  width: 188px;
  padding-left: 545px;
  padding-top: 24px;
}

.footer_small__container {
  display: flex;
  justify-content: space-between;
}

.footer_big__container {
  display: flex;
  padding-bottom: 89px;
}

.social_links:nth-child(3) {
  background-color: #e6e6e6;
}

.solial_link {
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-align: center;
  line-height: 32px;
}

.solial_link:hover {
  color: #f7f7f8;
  background-color: #f16d7f;
}

.new_arrival {
  background-color: #f8f3f4;
}

.new_arrivals {
  height: 148px;
  display: flex;
  justify-content: space-between;
}

.new_divider {
  background-color: #f8f3f4;
  width: 100%;
}

.new_arrivals_left {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 65px;
}

.nav_arrival {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #636363;
  font-weight: 300;
  font-weight: 700;
  letter-spacing: 2px;
}
.nav_arrivalhover {
  color: #f16d7f;
}

.nav_arrival:hover {
  color: #f16d7f;
}

.new_arrivals_right {
  padding-top: 69px;
}

.menu_container {
  margin: 0;
}

.menu_options {
  padding-top: 59px;
}

.menu_option {
  height: 37px;
  width: 243px;
  border-left: 5px solid #ef5b70;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
}
.menu_option:hover + .drop_down_options {
  display: flex;
}
.menu_option:hover .option__arrow_down {
  visibility: hidden;
}
.menu_option:hover .option__arrow_up {
  visibility: visible;
}

.category {
  width: 66%;
}

.category_menu {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  line-height: 35px;
  padding-left: 11px;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.arrow {
  margin-top: 8px;
  float: right;
}

.fa-sort-up {
  position: relative;
  left: 11px;
}

.arrows {
  text-align: right;
  width: 100%;
}

.items_drop {
  list-style: none;
}
.items_drop:hover {
  color: #f16d7f;
}

.drop_down_options {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  padding-left: 12px;
  display: none;
}

.fa-sort-down:hover .drop_down_options {
  display: block;
}

.drop_down:hover .drop_down_options {
  display: block;
  justify-content: space-between;
}

.catalog {
  padding-left: 50px;
}

.form_options {
  display: flex;
  height: 186px;
  width: 848px;
}

.form_opt {
  width: 282.66667px;
  padding-top: 71px;
}
.form_opt input[type=range] {
  -webkit-appearance: none;
}
.form_opt input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: url("img/pink_slider.svg");
  cursor: pointer;
  margin-top: -5px;
}
.form_opt input[type=range]:focus {
  outline: none;
}
.form_opt input[type=range]::-ms-track {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.form_opt input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
}

.form_heading {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 25px;
}

.form_opt_menu {
  width: 176px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form_opt_menu_opts {
  display: block;
  padding: 2px 4px;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.form_slash {
  padding-top: 5px;
  color: #dfdfdf;
}

.form_heading {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.size_value {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.box_check {
  box-sizing: border-box;
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 9px;
  margin-bottom: -1px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}
.box_check:hover {
  background-color: #f16d7f;
}

.form_opt_sizes {
  display: flex;
  flex-wrap: wrap;
}

.form_opt_size {
  padding-right: 20px;
  padding-bottom: 13px;
  width: 50px;
}
.form_opt_size input[type=checkbox] {
  display: none;
}
.form_opt_size input[type=checkbox] + label:before {
  content: "✔";
  color: transparent;
  display: inline-block;
  border: 1px solid #ebebeb;
  font-size: 15px;
  font-weight: 900;
  line-height: 13px;
  margin: -3px 9px 0 0;
  height: 13px;
  width: 13px;
  text-align: center;
  vertical-align: middle;
  transition: color ease 0.3s;
}
.form_opt_size input[type=checkbox]:checked + label:before {
  color: #f16d7f;
}

.main_product {
  display: flex;
  padding-bottom: 125px;
}

.size {
  width: 262px;
  height: 14px;
}

.label {
  display: flex;
  justify-content: space-between;
  width: 262px;
}

.min_max {
  display: block;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  padding-top: 14px;
}

.sorting {
  width: 848px;
  height: 50px;
  background-color: #f3f3f3;
}

.catolog_products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 47px;
  justify-content: space-between;
}

.catolog_product {
  margin-top: 47px;
}

.product_pages {
  width: 848px;
  display: flex;
  justify-content: space-between;
}

.page_number {
  height: 44px;
  width: 261px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #ebebeb;
}

.pages {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
  line-height: 44px;
}

.pages:hover {
  color: #ef5b70;
  text-shadow: 0 0 2px #f16d7f;
}

.view_all {
  display: block;
  color: #ef5b70;
  font-size: 16px;
  width: 150px;
  height: 44px;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  line-height: 44px;
}

.special_offers_black {
  background-color: #222224;
  height: 341px;
  width: 100%;
}

.hotoffers_black {
  display: flex;
  justify-content: space-between;
  padding-top: 89px;
  padding-left: 256px;
  padding-right: 256px;
  padding-bottom: 53px;
}

.black_offer {
  width: 100%;
}

.offer_black {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_black {
  width: 309px;
}

.subscibe_catalog {
  margin-top: 0;
}

.sorting {
  display: flex;
}

.sorting .sortby {
  margin: 10px;
  width: 153px;
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  display: flex;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.sorting .sortby .sortby_menu {
  border-right: 1px solid #ebebeb;
  width: 66px;
  padding-left: 14px;
}

.sorting .sortby .by_name {
  width: 86px;
  padding-left: 11px;
}

.sorting .sortby .by_name .arrow {
  position: relative;
  right: 10px;
  top: -11px;
}

.sorting .show {
  width: 119px;
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  margin: 10px;
  line-height: 30px;
  display: flex;
}

.sorting .show .show_size {
  width: 55px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  border-right: 1px solid #ebebeb;
}

.sorting .show .size_number {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
}

.sorting .show .size_number .arrow_size {
  display: block;
  position: relative;
  left: 29px;
  top: -32px;
}

.ofer_image_black {
  width: 47px;
  height: 47px;
}

.text_black {
  padding-top: 23px;
}

.offer_head_black {
  text-align: center;
}

.table_choosen {
  border-collapse: collapse;
}

.table_choosen .table_colums {
  border-bottom: 1px solid #eaeaea;
  padding-top: 90px;
}

.table_choosen .colums_heading {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  font-weight: bold;
}

.table_choosen .colums_heading .rows {
  color: #222222;
}

.table_choosen .row_productfirst {
  padding-top: 90px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.table_choosen .row_product {
  display: flex;
}

.table_choosen .row_product .row_img {
  padding: 21px;
  padding-left: 0px;
}

.table_choosen .row_text {
  text-align: left;
  text-transform: none;
}

.row-text_bold {
  color: #6f6e6e;
}

.table_choosen .product_name {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 35px;
}

.table_choosen .color {
  padding-top: 38px;
}

.table_choosen .color, .table_choosen .size {
  color: #575757;
  font-weight: 300;
  font-size: 13px;
}

.table_choosen .rows {
  color: #656565;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}

.checkout_optiions {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
}

.checkout_optiions .checkout_button {
  height: 50px;
  width: 225px;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 53px;
}

.before_checkout {
  display: flex;
  padding-top: 63px;
  padding-bottom: 133px;
  height: 214px;
}

.checkout_forms {
  width: 377.33333px;
}

.before_checkout .legent_heading {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.before_checkout .adress .checkout_input {
  border: 1px solid #eaeaea;
  width: 317px;
  display: block;
  background-color: #ffffff;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding-left: 18px;
}

.before_checkout .adress .adress_heading {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.description {
  padding-top: 28px;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
}

.checkout_input {
  border: 1px solid #eaeaea;
  width: 317px;
  height: 45px;
  display: block;
  background-color: #ffffff;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding-left: 18px;
  margin-top: 20px;
}

.header__right:hover .drop__cart {
  display: flex;
}

.drop_button:hover .button__arrow {
  visibility: visible;
}

.checkout_button {
  display: block;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 35px;
  padding: 0 12px;
}
.checkout_button__coupon {
  margin-top: 25px;
}

.proceed_checkout {
  background-color: #f5f3f3;
  padding-left: 42px;
  padding-right: 42px;
  height: 100%;
}
.proceed_checkout__upper {
  height: 50%;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.qty {
  display: inline-block;
  width: 54px;
  height: 30px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.arrow:hover .drop_down {
  display: block;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.bold {
  font-weight: 700;
}

.browse__arrow {
  margin-top: -3px;
  margin-right: 10px;
  float: right;
}

.browse__drop::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  top: -5px;
  left: 82px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.drop__cart {
  display: none;
  width: 262px;
  top: 82px;
}

.drop__cart::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  top: -6px;
  left: 13px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.cart-item__img {
  width: 72px;
  height: 85px;
}

.item_info__drop {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 10px;
}

.rating {
  color: #e4af48;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 10px;
}
.rating_tight {
  letter-spacing: -1.5px;
}

.fa-search {
  height: 14px;
  width: 14px;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.fa-star {
  color: #e4af48;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.price__prop {
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
}

.delete_btn__drop {
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 34px;
}

.cart_item__info {
  margin-left: -70px;
}

.total_cart_drop {
  display: flex;
  justify-content: space-between;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.cart_drop_btn {
  border: 1px solid #eaeaea;
  width: 100%;
  height: 50px;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  margin-top: 10px;
  background-color: #ffffff;
}

.cart_drop_btn:hover, .checkout_button:hover {
  color: #f16d7f;
  border-color: #f16d7f;
}

.button__arrow {
  position: relative;
  top: -3px;
  left: 8px;
  visibility: hidden;
}

.menu__drop {
  display: none;
}

.count {
  width: 19px;
  height: 19px;
  background-color: #f16d7f;
  border-radius: 70%;
  text-align: center;
  position: relative;
  top: -8px;
  right: -22px;
}

.count__number {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  vertical-align: top;
  line-height: 19px;
}

.fa-times-circle:hover {
  transform: scale(1.5);
  color: #f16d7f;
}

.bounce-in-top {
  animation: bounce-in-top 1.1s both;
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
.cart {
  width: 23px;
  height: 22px;
}

.product__cart {
  padding-right: 8px;
  color: #ffffff;
}

.fa-long-arrow-alt-right {
  padding-left: 9px;
}

.pulsate-fwd {
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.adress__city select {
  display: none;
}

.adress input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: none;
  opacity: 100;
  color: #bdbdbd;
  display: block;
  width: 9px;
  height: 6px;
  margin-right: 12px;
}

.adress::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.subtotal {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
}
.subtotal__checkout {
  padding-bottom: 14px;
}

.grandTotal {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  display: flex;
}
.grandTotal__checkout {
  padding-bottom: 22px;
}

.space {
  width: 25px;
}

.option__arrow {
  position: relative;
  top: 9px;
  left: 217px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.99px;
  text-transform: uppercase;
}
.option__arrow_up {
  color: #ef5b70;
  transform: rotate(180deg);
  visibility: hidden;
  top: -10px;
  left: -17px;
}

.catalog__subscribe {
  margin: 0;
}

.product-imgBig {
  border-top: 1px solid #eaeaea;
  background-color: #f7f7f7;
  width: 100%;
  height: 777px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navArrow {
  width: 47px;
  height: 47px;
  background-color: #2a2a2a;
  filter: brightness(5.5);
  color: #ffffff;
  line-height: 47px;
  text-align: center;
}

.product-infoBig {
  border: 1px solid #eaeaea;
  position: relative;
  top: -39px;
  background-color: #ffffff;
}
.product-infoBig__upper {
  border-bottom: 1px solid #eaeaea;
  margin: 73px 261px 0 261px;
  padding-bottom: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-infoBig__down {
  margin: 63px 303px 0 303px;
  padding-bottom: 122px;
}
.product-infoBig__collection {
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
}
.product-infoBig__rating {
  padding-bottom: 24px;
}
.product-infoBig__description {
  padding: 0;
}
.product-infoBig__price {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
}

.divider {
  background-color: #f16d7f;
  width: 63px;
  height: 3px;
  margin-top: -2.5px;
}

.collection {
  color: #f16d7f;
  font-size: 14px;
  text-transform: uppercase;
}

.product-infoBig__name {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 24px;
}

.description {
  text-align: justify;
  text-align-last: center;
}

.shortInfo {
  display: flex;
  justify-content: space-between;
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2f2f2f;
  padding-top: 28px;
  padding-bottom: 37px;
}
.shortInfo__space {
  width: 44px;
}

.grey {
  color: #b9b9b9;
}

.colorBox {
  width: 12px;
  height: 12px;
  position: relative;
  top: -24px;
  right: -14px;
}
.colorBox_red {
  background-color: red;
}

.sort {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sortInput {
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  font-weight: 400;
  color: #bcbcbc;
  font-size: 13px;
  width: 144px;
  box-sizing: border-box;
  padding-left: 15px;
}
.sortInput__colorInput {
  padding-left: 37px;
}

.addToCart {
  border: 1px solid #f16d7f;
  width: 100%;
  height: 55px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 55px;
  margin-top: 28px;
}

.productBig__cart {
  left: -15px;
  position: relative;
  top: 4px;
}

.sort_legend {
  padding-bottom: 16px;
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.sortInput__color {
  padding-left: 37px;
}

.sortInput::-webkit-calendar-picker-indicator {
  opacity: 0;
  right: 9px;
  position: relative;
  z-index: 2;
}
.sortInput::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

.sortInput__arrowDown {
  color: #bcbcbc;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  right: 24px;
}

.mayLike__singleProduct {
  padding-top: 119px;
  padding-bottom: 73px;
}
.mayLike__header {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 72px;
}
.mayLike__products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mayLike__product_text {
  display: flex;
  justify-content: space-between;
}
.mayLike__rating {
  visibility: hidden;
}

.singlePage__subscribe {
  margin-top: 0;
}

.checkout {
  padding-top: 89px;
}
.checkout__step {
  width: 100%;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
}
.checkout__header {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.checkout__text {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  text-transform: none;
}
.checkout_p {
  padding-bottom: 34px;
  line-height: 24px;
}
.checkout_p_flex {
  display: flex;
  margin-top: -36px;
}
.checkout__radio input[type=radio] {
  display: none;
}
.checkout__radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 34px;
  margin-right: 0;
  line-height: 20px;
  user-select: none;
}
.checkout__radio label:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 0;
  bottom: 3px;
  background: url(img/radio-1.png) 0 0 no-repeat;
}
.checkout__radio input[type=radio]:checked + label:before {
  background: url(img/radio_2.png) 0 0 no-repeat;
}
.checkout__input {
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: 16px;
  font-size: 16px;
  color: #222222;
  padding-left: 16px;
  box-sizing: border-box;
}

.double_right {
  letter-spacing: -4px;
  color: #b3b2b2;
  font-size: 11px;
  font-weight: 400;
  padding-right: 4px;
}

.btn_continue {
  width: 180px;
}

.step__info {
  padding: 0 167px 79px 35px;
  display: flex;
  justify-content: space-between;
}
.step__number {
  padding-right: 10px;
}

.required {
  padding-top: 22px;
}

.forgotPwd {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  line-height: 70px;
  padding-left: 32px;
}

input:focus {
  outline: none;
  box-shadow: none;
}

button:focus {
  outline: none;
}

.sortby__options {
  width: 86px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  box-sizing: border-box;
  padding-left: 11px;
}

.sortby input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: none;
  opacity: 100;
  color: #6f6e6e;
  display: block;
  width: 9px;
  height: 6px;
  margin-right: 2px;
}

.show input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: none;
  outline: none;
  opacity: 200;
  color: #6f6e6e;
  display: block;
  width: 9px;
  height: 6px;
  margin-right: 2px;
}

.showNumber {
  width: 63px;
  font-size: 14px;
  box-sizing: border-box;
  padding-left: 12px;
  color: #6f6e6e;
}

/*# sourceMappingURL=style.css.map */
